#container{
    background-image: url('impct-playground-background.png');
    background-size:cover;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-width:.5;
    background-repeat: no-repeat;
    background-position: center;
  /*background-size: contain;*/
    padding: 3rem;
    position: relative;
    margin: 0 0 1rem 0;
    border-radius: 0;
    background-color: #3BE5EE;

}

#chartContianer{
    height:250px;
    width:250px;
}


.purple-title{
    display:block;
    color: #c6c;
    font-family:"Montserrat", Helvetica sans-serif;
    font-size:22.4px;
    font-style:normal;
    font-weight:800;
    height:22px;
    letter-spacing:1px;
    line-height:31.36px;
    text-align:center;
    
    animation-name:fadeInDown;
    animation-delay:1.8s;
    animation-duration:0.6s;
    animation-fill-mode:both;
    animation-iteration-count:1;
    
}

.white-title{
    display:block;
    font-family:"Montserrat", Helvetica sans-serif;
    color: #fff;
    font-size:22.4px;
    font-style:normal;
    font-weight:800;
    height:22px;
    letter-spacing:-1.2096px;
    line-height:25px;
    text-align:center;
    
 

    
    animation-name:fadeInDown;
    animation-delay:1.8s;
    animation-duration:0.6s;
    animation-fill-mode:both;
    animation-iteration-count:1;
    
}

.white-subtitle{
     display:block;
    font-family:"Montserrat", Helvetica sans-serif;
    color: #fff;
    font-size:22.4px;
    font-style:normal;
    font-weight:800;
    height:22px;
    letter-spacing:-1.2096px;
    line-height:22px;
    text-align:center;
 
}

